@inherits RocketPluginProjectTemplate.Components.RocketPluginProjectTemplateTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System;
@using System.Linq;
@using System.Xml;
@using Simplisity;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@using RocketPluginProjectTemplate.Components;

@{
    var articleData = (ArticleLimpet)Model.List.First();
    var info = articleData.Info;
    var appThemeSystem = (AppThemeSystemLimpet)Model.GetDataObject("appthemesystem");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
}

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/API/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketPluginProjectTemplate/App_LocalResources/")

<div class="pl-breadcrumb">
    <div class="pl-breadcrumb-itemlink w3-border-blue w3-border-bottom w3-text-blue " onclick="window.location.reload();">Services</div>
    <div class="pl-breadcrumb-item">
        <img src="/DesktopModules/DNNrocket/API/images/chevron_right.svg" />
    </div>
    <div class="pl-breadcrumb-itemlink w3-border-blue w3-border-bottom w3-text-blue simplisity_click" s-cmd="rocketpluginprojecttemplate_list" s-fields='{"systemkey":"@(systemData.BaseSystemKey)"}'>AppServices</div>
    <div class="pl-breadcrumb-item">
        <img src="/DesktopModules/DNNrocket/API/images/chevron_right.svg" />
    </div>
    <div class="pl-breadcrumb-itemlink w3-border-blue w3-border-bottom w3-text-blue " onclick="$('#refreshdetaildata').trigger('click');">@articleData.Name</div>
</div>


<div class="w3-animate-opacity w3-card w3-padding w3-white">

    <div class="w3-row w3-padding">
        <div class="w3-bar-item w3-hide">
            <div id="refreshdetaildata" class="w3-bar-item w3-button w3-border w3-theme-action simplisity_click" s-cmd="rocketpluginprojecttemplate_detail" s-fields='{"systemkey":"@systemData.BaseSystemKey","itemid":"@(articleData.ArticleId)"}'>@ButtonIcon(ButtonTypes.refresh)</div>
        </div>
        <div class="w3-bar-item w3-button w3-theme-action simplisity_click" s-cmd="rocketpluginprojecttemplate_save" s-post="#sectiondata" s-fields='{"itemid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.save)</div>
        <div class="w3-bar-item w3-button w3-right w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")" s-cmd="rocketpluginprojecttemplate_delete" s-fields='{"itemid":"@articleData.ArticleId"}' title='@ResourceKey("DNNrocket.delete")'>@ButtonText(ButtonTypes.delete)</div>
    </div>

    <div id="sectiondata" class="w3-row w3-padding">

        <div class="w3-row w3-padding">
            <label>@ResourceKey("RocketPluginProjectTemplate.ref")</label>
            @TextBox(info, "genxml/textbox/articleref"," class='w3-input w3-border' ", "", false)
        </div>
        <div class="w3-row w3-padding">
            <label>@ResourceKey("RocketPluginProjectTemplate.name")</label>
            @TextBox(info, "genxml/lang/genxml/textbox/articlename"," class='w3-input w3-border' ", "",true)
        </div>
        <div class="w3-row w3-padding">
            @TextBox(info, "genxml/textbox/test1"," class='w3-input w3-border' ", "")
        </div>

    </div>

</div>

@RenderXml(info)

<script>
    $(document).ready(function () {
    });
</script>